{#
/**
 * @file
 * Default theme implementation for a facets item list.
 *
 * Available variables:
 * - items: A list of items. Each item contains:
 *   - attributes: HTML attributes to be applied to each list item.
 *   - value: The content of the list element.
 * - title: The title of the list.
 * - list_type: The tag for list element ("ul" or "ol").
 * - wrapper_attributes: HTML attributes to be applied to the list wrapper.
 * - attributes: HTML attributes to be applied to the list.
 * - empty: A message to display when there are no items. Allowed value is a
 *   string or render array.
 * - context: A list of contextual data associated with the list. May contain:
 *   - list_style: The ID of the widget plugin this facet uses.
 * - facet: The facet for this result item.
 *   - id: the machine name for the facet.
 *   - label: The facet label.
 *
 * @see facets_preprocess_facets_item_list()
 *
 * @ingroup themeable
 */
#}

<div class="facets-widget- {{- facet.widget.type -}}" style="text-align: center; margin-top: 2.5em">
  {% if facet.widget.type %}
    {%- set attributes = attributes.addClass('item-list__' ~ facet.widget.type) %}
  {% endif %}
  {% if items or empty %}
    {%- if title is not empty -%}
      <h3>{{ title }}</h3>
    {%- endif -%}

    {%- if items -%}
      <div class="hidden-sm-down">
        <{{ list_type }}{{ attributes }}>        
            {%- for item in items -%}
              <li{{ item.attributes }}>{{ item.value }}</li>
            {%- endfor -%}        
        </{{ list_type }}>
      </div>
      
      <div class="hidden-md-up text-center divFilter">
        {% if facet.id == 'format_terme_de_taxonomie_name' %}
          <span style="color: #000; font-weight: bold; margin-top: 1em; margin-bottom: 1em">Choix par format</span>
          <ul>  
            <li class="btn elemFilter"><a href="{{ url('<front>') }}nos-produits/collections/les-unis">Tous les formats</a></li>
        {% elseif facet.id == 'type_decor' %}
          <span style="color: #000; font-weight: bold; margin-top: 1em; margin-bottom: 1em">Choix par type</span>
          <ul>  
            <li class="btn elemFilter"><a href="{{ url('<front>') }}nos-produits/gammes/10-x-20-cm">Tous les types</a></li>
        {% endif %}
        
        {% for item in items %}
          <li class="btn elemFilter">{{ item.value }}</li>
        {% endfor %}
        </ul>
      </div>
    {%- else -%}
      {{- empty -}}
    {%- endif -%}


  {%- endif %}

{% if facet.widget.type == "dropdown" %}
  <label  id="facet_{{ facet.id }}_label">{{ 'Facet'|t }} {{ facet.label }}</label>
{%- endif %}
</div>

<style>
  .elemFilter {
    background-color: transparent !important;
    display: block; 
    margin: 0.5em 0; 
    margin-left: -3em;
    text-align: left;
  }
  /*.elemFilter:hover {
    background-color: #ccc !important; 
    color: #000 !important;
  }*/
  .divFilter {
    border-radius: 4px; 
    padding: 0 1em;
  }
</style>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>  
  
  // Valorisation du filtre en cours
  let currentFilterText = $('.facet-item__status.js-facet-deactivate').next().html();  
  if (currentFilterText !== undefined) {
    $('.spann').append(' (' + currentFilterText + ') ');
  } else {
    $('.spann').append(' (Tous) ');
  } 

  $('.facet-item__status.js-facet-deactivate').empty();
  //$('.facet-item__status.js-facet-deactivate').append('<i class="fa fa-times" style="color: darkred; margin-right: 5px"></i>');
    
</script>
