{#
/**
 * @file
 * Default theme implementation to display a view of unformatted rows.
 *
 * Available variables:
 * - title: The title of this group of rows. May be empty.
 * - rows: A list of the view's row items.
 *   - attributes: The row's HTML attributes.
 *   - content: The row's content.
 * - view: The view object.
 * - default_row_class: A flag indicating whether default classes should be
 *   used on rows.
 *
 * @see template_preprocess_views_view_unformatted()
 *
 * @ingroup themeable
 */
#}

{% if title %}
  <h3>{{ title }}</h3>
{% endif %}

<div style="margin-bottom: -2em">
    {% for row in carreaux %}            
        <div class="col-md-3 col-sm-6 col-12 loupe" >            
            <div class="affiche">              

                <div class="zoomedImage">
                    <!-- Image Mobile-->
                    <img class="hidden-md-up" src="{{ row.imageCarreau }}" style="border: 2px solid #000; cursor: pointer" data-toggle="modal" data-target="#modal_desktop_{{ row.id }}" />
                    <!-- Image Desktop -->
                    <img class="hidden-sm-down" src="{{ row.imageCarreau }}" style="border: 2px solid #000; cursor: pointer" data-toggle="modal" data-target="#modal_desktop_{{ row.id }}"/>
                </div>

                <!-- Boutton Rendu -->
                <!--<div class="imageLoupe hidden-sm-down text-center" id="loupe_{{ row.id }}" data-toggle="modal" data-target="#modal_desktop_{{ row.id }}">
                    Rendu
                </div>-->

                <!-- Modal -->
                <div class="modal " id="modal_desktop_{{ row.id }}" tabindex="-1" role="dialog" aria-labelledby="labelModal" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                
                            <div class="modal-body">
                                <h2 class="pull-left"><i class="fa fa-th"></i> Rendu final</h2>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                <img src="{{ row.renduFinalCarreau }}" style="height: 100%; width: 100%; border: 2px solid #000" />                            
                            </div>
                            <div class="modal-footer">
                                <a class="btn btn-primary" href="{{ 'node/' ~ row.id  }}">
                                    <i class="fa fa-list"></i> Fiche produit
                                </a>                            
                                <button type="button" class="btn" data-dismiss="modal" ><i class="fa fa-times"></i> Fermer</button>
                            </div>
                        </div>
                    </div>
                </div>                

            </div>

            <div class="text-center" style="height: 45px">
                <a href="{{ 'node/' ~ row.id  }}" title="Fiche produit" style="position: relative; top: 15px; font-size: 18px; font-style: italic">
                    {{ row.nomCarreau }}
                </a>
            </div>
        </div>        
    {% endfor %}
</div>

<style>    

    .loupe {
        margin-top: -2em;
        padding-bottom: 1em;        
        margin-bottom: 1em;
        padding: 2em;
    }

    .fa.fa-search {
        display: block;
        position: relative;
        top: 3px;
        color: #eee;
        font-size: 16px;
    }
    /*.imageLoupe {
        display: none;
        cursor: pointer;

        z-index: 5;
        position: absolute;
        left: 50%;
        top: 57.6%;
        transform: translate( -50%, -50% );
        padding: 3px 15px 3px 25px;
        color: #fff;
        background-color: rgba(0, 0, 0, 0.4);
        font-family: "Font Awesome 5 Free";
        font-weight: 900;        
        content: "\f002";
        
        height: 30px;
        width: 60px;
        
        padding-left: 6px;
        font-size: 16px !important;
        border-radius: 5px 5px 5px 5px;
    }*/

    .affiche {
        display: block;
        position: relative;     
        height: 17em;
        padding: 0;
    }

    .zoomedImage {
        position: absolute;
        bottom: 0.7em;
    }

    /************************ MODAL **********************/
    .close {
        font-size: 3em;
        color: #000;
    }

    .modal-footer {
        margin-top: -25px;
        margin-bottom: -7px;
    }
    .modal {
        margin-top: -25px;
    }

    .modal-open {
        overflow: auto;
    }

    .btn {
        background-color: #333;
        color: #fff;
    }
    .btn:hover {
        color: #fff;
        background-color: #666; 
    }

    /* Desktops */
    @media (min-width: 1281px) {

        .hidden-sm-down {
            display: none;
        }
        .hidden-md-up {
            display: block;
        }   

        .affiche > a:hover + .loupe:last-child {    
            display: inline-block;   
            z-index: 6;                             
        }

        .zoomedImage {
            max-width: 100%;
            -webkit-transition: all 1.5s ease; /* Safari and Chrome */
            -moz-transition: all 1.5s ease; /* Firefox */
            -ms-transition: all 1.5s ease; /* IE 9 */
            -o-transition: all 1.5s ease; /* Opera */
            transition: all 1.5s ease;
        }

        .zoomedImage:hover {
            -webkit-transform: scale(1.10); /* Safari and Chrome */
            -moz-transform: scale(1.10); /* Firefox */
            -ms-transform: scale(1.10); /* IE 9 */
            -o-transform: scale(1.10); /* Opera */
            transform: scale(1.10);
        }
    }

    /* Device = Laptops, Desktops */
    @media (min-width: 1025px) and (max-width: 1280px) {
    
        .hidden-sm-down {
            display: none;   
        }
        .hidden-md-up {
            display: block ;
        }  

        .affiche > a:hover + .loupe:last-child {    
            display: inline-block;   
            z-index: 6;                             
        }

        .zoomedImage {
            max-width: 100%;
            -webkit-transition: all 1.5s ease; /* Safari and Chrome */
            -moz-transition: all 1.5s ease; /* Firefox */
            -ms-transition: all 1.5s ease; /* IE 9 */
            -o-transition: all 1.5s ease; /* Opera */
            transition: all 1.5s ease;
        }

        .zoomedImage:hover {
            -webkit-transform: scale(1.10); /* Safari and Chrome */
            -moz-transform: scale(1.10); /* Firefox */
            -ms-transform: scale(1.10); /* IE 9 */
            -o-transform: scale(1.10); /* Opera */
            transform: scale(1.10);
        }

        .loupe {
            margin-top: 3em;
        }
    }

    /***************************************************************/

    /* Tablets, Ipads (portrait) */
    @media (min-width: 768px) and (max-width: 1024px) {
    
        .hidden-sm-down {
            display: block;   
        }
        .hidden-md-up {
            display: none;
        }  
        .loupe {
            margin-top: 1em;
        }
    }

    /* Tablets, Ipads (landscape) */
    @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    
        .hidden-sm-down {
            display: block;   
        }
        .hidden-md-up {
            display: none;
        }
        .affiche {
            padding: 0;
        }           
        .loupe {
            margin-top: -1.5em;
            padding: 1em;
        }   
    }

    /* Low Resolution Tablets, Mobiles (Landscape) */
    @media (min-width: 481px) and (max-width: 767px) {
    
        .hidden-sm-down {
            display: inline-block;   
        }
        .hidden-md-up {
            display: none;
        }
        
        .affiche {
            margin: auto !important;
            padding-left: 17px;
            height: 20em;
        }
        .loupe {
            width: 48.5%;
            float: left;
            margin-top: 2em;
        }
        .slider-caption {
            display: block;
        }
    }

    /* Mobiles (Portrait) */
    @media (min-width: 320px) and (max-width: 480px) {
        
        .hidden-sm-down {
            display: inline-block;   
        }
        
        .hidden-md-up {
            display: none;
        }

        .affiche {
            margin: 0 13%;
            height: 20em;
        }

        .modal {
            margin-top: 20%;
        }
    }
    
</style>

<script>

    // N'afficher pas la loupe pour les "mobile" et "tablette"    
    let screen = 'desktop';
    if (navigator.userAgent.match(/(android|iphone|ipad|blackberry|symbian|symbianos|symbos|netfront|model-orange|javaplatform|iemobile|windows phone|samsung|htc|opera mobile|opera mobi|opera mini|presto|huawei|blazer|bolt|doris|fennec|gobrowser|iris|maemo browser|mib|cldc|minimo|semc-browser|skyfire|teashark|teleca|uzard|uzardweb|meego|nokia|bb10|playbook)/gi)) {
        if ( ((screen.width  >= 480) && (screen.height >= 800)) || ((screen.width  >= 800) && (screen.height >= 480)) || navigator.userAgent.match(/ipad/gi) ) {
            screen = 'tablet';
        } else {
            screen = 'mobile';
        }
    }
 
</script>
